SBDX_save/
SBDX_shots/
SBDX_replays/
/crashes
/SBDX_mods/level/testing
/SBDX_mods/character/fractor
/SBDX_mods/character/spark
/SBDX_mods/character/_pkrMario
/SBDX_mods/character/_pkrSomari
/SBDX_mods/character/_pkrSonic
/SBDX_mods/level/YAPP
/SBDX_mods/character/coolsonic
/SBDX_mods/character/sonicupd
/SBDX_mods/character/marioupd
/SBDX_mods/character/mariodu0
/SBDX_mods/level/SaniTest
/SBDX_skins/music/Sani_videoGame
game_errors.log
/SBDX_mods/character/ray
